<md-dialog aria-label="Mango (Fruit)">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 ng-if="dialogCtrl.success && dialogCtrl.weather">Weather on {{dialogCtrl.place}}</h2>
        <h2 ng-if="dialogCtrl.success && dialogCtrl.uv">UV in the area</h2>
        <h2 ng-if="!dialogCtrl.success">Ups!</h2>
        <span flex></span>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="modal-content">
        <p ng-if="dialogCtrl.success && dialogCtrl.weather">{{dialogCtrl.weather}} with {{dialogCtrl.temp}}&#x2103;</p>
        <p ng-if="dialogCtrl.success && dialogCtrl.uv">{{dialogCtrl.uv}}</p>
        <p ng-if="!dialogCtrl.success">No data Found!</p>
      </div>
    </md-dialog-content>
</md-dialog>
