.row > div{
  margin-bottom: 15px;
}
.header{
  min-height: 90px;
}
.sidebar{
  min-height: 300px;
  background: #dbdfe5;
}
.content-top{
  min-height: 160px;
  background: #b4bac0;
}
.content-bottom{
  min-height: 125px;
  background: #7e8aa0;
  margin-bottom: -15px;
}
.content-bottom.bg-alt{
  background: #9ca5b6;
}

@media (max-width: 991px){
  .content-bottom{
    margin-bottom: 15px;
  }
  .content-bottom.bg-alt{
    margin-bottom: -15px;
  }
}