<md-card ng-style="{'background-color': cardCtrl.background, 'color' : cardCtrl.color}">

  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">
        <md-icon class="cardCtrl.icon" ng-style="{'color' : cardCtrl.color}" md-font-set="md" ng-show="cardCtrl.icon">{{cardCtrl.icon}}</md-icon>
        <h1>{{cardCtrl.title}}</h1>
      </span>
    </md-card-title-text>
  </md-card-title>

  <md-card-content>
    <p>{{cardCtrl.description}}</p>
    <p>{{cardCtrl.message}}</p>
  </md-card-content>
  
  <md-card-actions layout="row" layout-align="end center">
    <span>{{cardCtrl.reservedBy}}</span>
    <md-button class="md-icon-button" aria-label="Favorite" ng-click="cardCtrl.addToFavorites({title: cardCtrl.title})">
      <md-icon md-font-set="md" ng-style="{'color' : color}">favorite</md-icon>
    </md-button>
  </md-card-actions>

</md-card>

