<div class="dashboard-view align-items-center">
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-3">Dashboard, welcome</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="sidebar"></div>
                </div>
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="content-top"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="content-bottom">
                                <button class="btn btn-info" ng-click="dasCtrl.goToConfig()">config</button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="content-bottom bg-alt">
                                <button class="btn btn-info" ng-click="dasCtrl.goToDetail()">detail</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="sidebar"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="footer"></div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div></div>
    <p><a class="btn btn-lg btn-success" ui-sref="home">Home</a></p>
    <p><a class="btn btn-lg btn-info" ui-sref="dashboard.userList">User List</a></p>
</div>