.home-view{
	flex:1;
	.jumbotron{
		text-align: center;
		flex: 1;
		margin-top: 50px;
	}
	.leaflet-container {
	    height: 500px;
	}
	.md-primary{
		display: inline-block;
    	margin-right: 10px;
	}
}