.row > div{
  margin-bottom: 15px;
}
.header{
  min-height: 90px;
}
.sidebar{
  min-height: 300px;
  background: #dbdfe5;
}
.content-top{
  min-height: 160px;
  background: #b4bac0;
}
.content-bottom{
  min-height: 125px;
  background: #7e8aa0;
  margin-bottom: -15px;
}
.content-bottom.bg-alt{
  background: #9ca5b6;
}

@media (max-width: 991px){
  .content-bottom{
    margin-bottom: 15px;
  }
  .content-bottom.bg-alt{
    margin-bottom: -15px;
  }
}





/*----- Dashboard styles -----*/

.dash-header{
  color: white;
  background-image: url('https://www.talosdigital.com/images/home-page/xl/intro-home-page-xl.jpg');
  background-position: center;
  padding: 30px 20px;
}



.dashboard-view {
  width: 100%;

  h3 {
    margin-bottom: 0px;
    font-weight: 100;
    font-size: 3.5rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;

  }

  .dash-header{
    p{
      margin-bottom: 0px;
      text-transform: uppercase;
      font-weight: 100;
      letter-spacing: 0.2rem;
    }

    .dropdown-menu{
      -webkit-box-shadow: 7px 7px 10px -4px rgba(163,163,163,0.69);
      -moz-box-shadow: 7px 7px 10px -4px rgba(163,163,163,0.69);
      box-shadow: 7px 7px 10px -4px rgba(163,163,163,0.69);

      border-radius: 0px;
      border: none;
      font-weight: 100;

      li{
        padding-left: 1rem;
        padding-right: 1rem;

        &:hover {
          background-color: #ededed;
        }
      }
    }
  }

  .btn{
    border-radius: 0px;
    color: white;
    background-color: #d24f2e;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    font-weight: 100;
    margin-top: 34px;
    padding: 15px;
  }

  .info{
    text-align: left;
    display: inline-block;
  }

  .options{
    text-align: right;
    float: right;
    display: inline-block;
  }

  .main-content{
    background-color: #f7f7f7;
    height: 100%;
    padding: 50px 0px;
  }

  .course{
    background-color: white;
    padding: 20px;
    margin-bottom: 40px;

    h4 {
      min-height: 54px;
    }

    .category {
      color: #b3b3b3;
      text-transform: uppercase;
      font-size: 0.7rem;
      letter-spacing: 0.1rem;
      font-weight: 100;
      margin-bottom: 8px;
    }

    .course-data{
      border: 1px #d4d4d4 solid;
      overflow: hidden;
      padding: 15px 10px;
      margin-top: 20px;
      color: #5d5d5d;

      .item {
        width: 50%;
        float: left;

        &:first-child{
          padding-right: 3%;
          border-right: 1px #d4d4d4 solid;
        }

        &:last-child{
          padding-left: 3%;
        }
      }

      .number{
        width: 13%;
        display: block;
        float: left;
        font-size: 1.7rem;
        margin-right: 5%;
        line-height: 1;
        margin-top: 3px;
      }
      .txt{
        width: 82%;
        word-wrap: break-word;
        display: block;
        float: left;
        line-height: 1.2rem;
        font-weight: 100;

      }

      .completed {
        font-weight: 100;
      }

      .to-finish{
        color: #f55e38;
      }
    }
  }
}