<section class="home-view">
  <h1 class="md-display-2" layout-margin>Business Card</h1>

  <div layout="row" layout-align="center stretch">
    <form name="vm.form" flex="50">
      <md-content md-theme="docs-dark" layout-gt-sm="column" layout-padding>
        <div class="item">
          <label>Icon</label>
          <div layout="row">
            <md-button flex ng-repeat="icon in homeCtrl.icons"  ng-click="homeCtrl.setIcon(icon)" ng-class="{active : homeCtrl.card.icon == icon}">
              <md-icon md-font-set="md">{{icon}}</md-icon>
            </md-button>
          </div>
        </div>

        <div md-color-picker ng-model="homeCtrl.card.background" label="Background"></div>

        <div md-color-picker ng-model="homeCtrl.card.textColor" label="Text Color"></div>
      </md-content>
    </form>

    <div flex="50">
      <md-subheader class="md-no-sticky">Card Directive</md-subheader>
      <md-subheader class="md-no-sticky">Favorite list</md-subheader>
    </div>
  </div>

</section>
