<section class="home-view">
  <h1 class="md-display-2" layout-margin>Business Card</h1>

  <div layout="row" layout-align="center stretch">
    <form name="vm.form" flex="50">
      <md-content md-theme="docs-dark" layout-gt-sm="column" layout-padding>
        <div class="item">
          <label>Icon</label>
          <div layout="row">
            <md-button flex ng-repeat="icon in homeCtrl.icons"  ng-click="homeCtrl.setIcon(icon)" ng-class="{active : homeCtrl.card.icon == icon}">
              <md-icon md-font-set="md">{{icon}}</md-icon>
            </md-button>
          </div>
        </div>

        <div md-color-picker ng-model="homeCtrl.card.background" label="Background"></div>

        <div md-color-picker ng-model="homeCtrl.card.textColor" label="Text Color"></div>

        <md-input-container>
          <label>Title</label>
          <input type="text" name="title" ng-model="homeCtrl.card.title">
        </md-input-container>

        <md-input-container>
          <label>Description</label>
          <textarea name="" id="" cols="30" rows="2" ng-model="homeCtrl.card.description"></textarea>
        </md-input-container>

      </md-content>
    </form>

    <div flex="50">
      <card title="homeCtrl.card.title"
            description="homeCtrl.card.description"
            background="homeCtrl.card.background"
            text-color="homeCtrl.card.textColor"
            reserved-by="{{homeCtrl.RESERVED_BY}}"
            cb-favorite="homeCtrl.card.setFavorite(title)"
            icon="{{homeCtrl.card.icon}}">
      </card>

      <md-subheader class="md-no-sticky">Favorite list</md-subheader>
      <md-list-item ng-repeat="favorite in homeCtrl.favoriteList track by $index">
        <md-checkbox></md-checkbox>
        <p>{{favorite}}</p>
      </md-list-item>

    </div>
  </div>

</section>
