<div ui-view="navbar"></div>
<div class="access-form">
	<form class="form-signin" ng-submit="auLoginCtrl.logIn()">
	    <h2 class="form-signin-heading">Please log in</h2>
	    <label for="inputEmail" class="sr-only">Email address</label>
	    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" ng-model="auLoginCtrl.currentUser.email">
	    <label for="inputPassword" class="sr-only">Password</label>
	    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" ng-model="auLoginCtrl.currentUser.password">
	    <label ng-if='auLoginCtrl.error'>User Not Found</label>
	    <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
	</form>
</div>
